<!DOCTYPE html>
<html>
<head>
    <title>Conexion de Redes C.A</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <style>
        body{
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: 'Raleway', sans-serif;
        }

        h1{
            color: rgb(205, 205, 205);
        }

        a{
            text-decoration: none;
        }

        span{
            color: rgb(9, 9, 161);
        }
    </style>
</head>
<body>
    <a href="https://conexionderedes.com"><h1>Este sitio no es seguro, <span>regresa a nuestra tienda!!</span></h1></a>
    <img src="https://conexionderedes.com/assets/Logo-CXR-deaa6c85.png" alt="coneixon de redes">
</body>
</html>
